
.container {
    /* padding: 10rem; */
    background: white;
    margin: 5rem 0rem;
  }


.slickSlide {
  position: relative;
  margin: auto;
  height: 60vh;

}

.slickSlide img {
  max-width:100%; 
  max-height:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
  

@media only screen and (max-width: 300px) {
  .container {
    /* padding: 10rem; */
    background: white;
    margin: 3rem 0.5rem;
  }
}