.wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.body {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.body div h1 {
    margin-bottom: 2rem;
}
.body div p{
    line-height: 2rem;
    margin-bottom: 1.8rem;
    text-align: center;
    align-items: center;
}


.btns {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 14rem;
  }
  
  .btns button.agree {
    font: inherit;
    font-weight: bold;
    background: #007bff;
    border: 1px solid #007bff;
    padding: 0.5rem 1.5rem;
    color: rgb(247, 242, 242);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  .btns button:focus {
    outline: none;
  }
  .btns button:hover,
  .btns button:active {
    color: #007bff;
    background: white;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
  }